body{
    margin: 0px;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}
nav{
    background-color: #001F3F
}
.nav-text{
    letter-spacing: 2px;
    color: #A9A9A9;
    font-size: 1.5em;
}

.text_color{
    color: #001F3F
}
.navside_color{
    color: #A9A9A9 
}
.bg_color{
    background-color: #001F3F;
}
.sectionbg{
    background-image: url(../assets/images/spaceX2.jpg);
    background-size: cover;
    height: 100%;
}
.modal{
    position: fixed!important;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%,-50%) scale(0)  ;
    transition: 200ms ease-in-out;
    background-color: #fff;
    padding: 20px;
    box-shadow: 10px 5px 40px 14px rgba(38.81, 136.75, 227.16, 0.13);
    z-index: 999;
    border-radius: 20px;
  }
  .modal-show {
    transform: translate(-50%, -50%) scale(1);
  }
  .overlay {
    display: block;
    position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    /* backdrop-filter: blur(2px); */
    /* transition: transform 0.3s ease, opacity 0.3s ease; */
  }

  @media only screen  and (max-width: 500px){
    .modal{
        width: 400px;
    }
  }
  @media only screen  and (max-width: 400px){
    .modal{
        width: 350px;
    }
  }